@charset "utf-8";
/* General CSS */

body {
	background:url(../media/images/stars.png);
	background-repeat:repeat;
	color:#e2dede;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
}
p {
	font-size:12px;
	line-height:20px;
}
a:hover {
	text-decoration:none;
}
hr {
	width:500px;
}
a img {
	border:none;
	color:#FF0;
}

.underline {
	text-decoration:underline;
}
div.center {
	margin-left:auto;
	margin-right:auto;
}

div.header {
	height:164px;
	width:869px;
	background:url('../media/images/layout/outline-top.png') no-repeat;
}
div.nav-top {
	height:40px;
	width:869px;
	background:url('../media/images/layout/outline-nav-left.png') no-repeat;
}
div.nav-top div {
	height:40px;
	width:869px;
	background:url('../media/images/layout/outline-nav-right.png') no-repeat right;
}
table.nav-buttons {
	margin-left:23px;
}
table.nav-buttons tr td {
	height:40px;
	background:url('../media/images/layout/nav-button-bg.png') repeat-x;
	border-right:1px solid #2c2c26;
	text-align:center;
	font-size:12px;
	cursor:pointer;
	cursor:hand;
}
table.nav-buttons tr td.not-button {
	cursor:auto;
}
table.nav-buttons tr td:hover {
	border-top:2px solid #51d451;
}
table.nav-buttons tr td.nav-current {
	border-top:2px solid #51d451;
	font-weight:bold;
}
table.nav-buttons tr td.not-button:hover {
	border-top:none;
}
div.main-content {
	width:869px;
	background:url('../media/images/layout/outline-sides.png') repeat-y;
}
div.main-content a, div.main-content a:visited {
	color:#3f63b4;
}
div.main-content div {
	padding:5px 40px 0px 40px;	
}
div.nav-bottom {
	height:105px;
	width:869px;
	background:url('../media/images/layout/outline-bottom.png') no-repeat;
	text-align:center;
	padding-top:50px;
	font-size:12px;
	color:#666;
}
div.nav-bottom a, div.nav-bottom a:visited {
	color:#666;
}
div.nav-bottom a:hover {
	text-decoration:none;
}